<?xml version='1.0' encoding='utf-8'?>
<widget id="com.durak.ai" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>DurakAI</name>

    <description>AI App</description>

    <author email="test@test.com">Beka</author>

    <content src="index.html" />

    <!-- INTERNET -->
    <access origin="*" />
    <allow-navigation href="*" />

    <!-- SDK FIX -->
    <platform name="android">
        <preference name="android-compileSdkVersion" value="36" />
        <preference name="android-targetSdkVersion" value="36" />

        <!-- HTTP (FAILED FETCH FIX) -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>

</widget>
